<div class="hour-divider">
    <h5 class="hour-number">0</h5>
</div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider">
    <h5 class="hour-number">2</h5>
</div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider">
    <h5 class="hour-number">4</h5>
</div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider">
    <h5 class="hour-number">6</h5>
</div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider">
    <h5 class="hour-number">8</h5>
</div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider">
    <h5 class="hour-number">10</h5>
</div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider">
    <h5 class="hour-number">12</h5>
</div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider">
    <h5 class="hour-number">14</h5>
</div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider">
    <h5 class="hour-number">16</h5>
</div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider">
    <h5 class="hour-number">18</h5>
</div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider">
    <h5 class="hour-number">20</h5>
</div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider">
    <h5 class="hour-number">22</h5>
</div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="half-hour-divider"></div>
<div class="quarter"></div>
<div class="quarter-hour-divider"></div>
<div class="quarter"></div>
<div class="hour-divider">
    <h5 class="hour-number">24</h5>
</div>
