<span style="font-weight: bold;">Chlorung</span>

<mdb-form-control>
    <input mdbInput class="form-control" id="form1" [ngxTimepicker]="startTime" [format]="24">
    <label mdbLabel class="form-label" for="form1">Start Zeit</label>
    <ngx-material-timepicker #startTime [minutesGap]="5"></ngx-material-timepicker>
</mdb-form-control>

<app-dosage-input></app-dosage-input>

<button mdbRipple class="btn btn-danger btn-floating" type="button" style="background-image: url('/assets/img/alternate-trash.svg');
background-repeat:no-repeat;
background-position: center center;
background-size: 60%;
"></button>
