<mdb-form-control class="my-2">
    <input mdbInput [value]="gPoolFilter" (focusout)="updatePoolFilter()" type="number" id="formControlSm1" class="form-control form-control-sm" />
    <label mdbLabel class="form-label" for="formControlSm1">Pool Filter GPIO</label>
</mdb-form-control>
<mdb-form-control class="my-2">
    <input mdbInput [value]="gPoolChlorinePump" type="number" id="formControlSm2" class="form-control form-control-sm" />
    <label mdbLabel class="form-label" for="formControlSm2">Pool Chlor GPIO</label>
</mdb-form-control>
<mdb-form-control class="my-2">
    <input mdbInput [value]="gPoolHeater" type="number" id="formControlSm3" class="form-control form-control-sm" />
    <label mdbLabel class="form-label" for="formControlSm3">Pool Heizung GPIO</label>
</mdb-form-control>
<mdb-form-control class="my-2">
    <input mdbInput [value]="gHotTubHeater" type="number" id="formControlSm4" class="form-control form-control-sm" />
    <label mdbLabel class="form-label" for="formControlSm4">HotTub Heizung GPIO</label>
</mdb-form-control>
<mdb-form-control class="my-2">
    <input mdbInput [value]="gHotTubHeater_Pump" type="number" id="formControlSm5" class="form-control form-control-sm" />
    <label mdbLabel class="form-label" for="formControlSm5">HotTub Heizung Pumpe GPIO</label>
</mdb-form-control>
<mdb-form-control class="my-2">
    <input mdbInput [value]="gHotTubFilter_UV" type="number" id="formControlSm6" class="form-control form-control-sm" />
    <label mdbLabel class="form-label" for="formControlSm6">HotTub Filter + UV GPIO</label>
</mdb-form-control>
<mdb-form-control class="my-2">
    <input mdbInput [value]="gHotTubChlorinePump" type="number" id="formControlSm7" class="form-control form-control-sm" />
    <label mdbLabel class="form-label" for="formControlSm7">HotTub Chlor GPIO</label>
</mdb-form-control>
<mdb-form-control class="my-2">
    <input mdbInput [value]="gValve" type="number" id="formControlSm8" class="form-control form-control-sm" />
    <label mdbLabel class="form-label" for="formControlSm8">Ventil GPIO</label>
</mdb-form-control>
