/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

// Required for the simple-keyboard
@import "~simple-keyboard/build/css/index.css";

html,
body,
mdb-tabs,
.tab-pane {
    height: 100%;
}

.tab-content {
    flex-grow: 1;
    min-height: 0;
}

.btn {
    text-transform: none;
}

//Resize simple keyboard buttons
.hg-button {
    height: 49px !important;
}

/* ############ Square buttons ############ */
.btn-square-sm {
    width: 50px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 50px !important;
    text-align: center;
    padding: 0px;
    font-size: 7px;
}

.btn-square-md {
    width: 100px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 100px !important;
    text-align: center;
    padding: 0px;
    font-size: 12px;
}

.btn-square-lg {
    width: 150px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 150px !important;
    text-align: center;
    padding: 0px;
    font-size: 18px;
}

.btn-square-xl {
    width: 200px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 200px !important;
    text-align: center;
    padding: 0px;
    font-size: 24px;
}

/* Style for Extra Large Screen */

@media (max-width:3920px) {
    .btn-sq-responsive {
        width: 200px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 200px !important;
        font-size: 24px;
    }
}

/* Style for Large Screen */

@media (max-width:991px) {
    .btn-sq-responsive {
        width: 150px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 150px !important;
        font-size: 18px;
    }
}

/* Style for Medium Screen */

@media (max-width:767px) {
    .btn-sq-responsive {
        width: 100px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 100px !important;
        font-size: 12px;
    }
}

/* Style for Small Screen */

@media (max-width:575px) {
    .btn-sq-responsive {
        width: 50px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 50px !important;
        font-size: 5px;
        padding: 0px;
        font-size: 7px;
    }
}

// This causes the last tab to be aligned right
mdb-tabs > ul > li:last-child {
    margin-left: auto;
}

.btn:hover {
    box-shadow: none;
}

.btn-warning:hover {
    background-color: var(--mdb-warning);
}

.btn-danger:hover {
    background-color: var(--mdb-danger);
}

.btn-success:hover {
    background-color: var(--mdb-success);
}

.form-control[readonly] {
    background-color: transparent !important;
}
